.get-move-area {
  background: linear-gradient(0deg, #EDEDED 0%, #D9B2FF 100%);
}

.get-move {
  text-align: center;
  padding: 100px 0;
  line-height: 48px;
}

.get-move h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 48px;
}

.shop-now-btn {
  background-color: #245AE5!important;
  color: #fff;
  font-size: 16px!important;
  text-transform: uppercase;
  font-weight: 600!important;
  padding: 10px 54px!important;
}