.footer-area-wrapper {
  background-color: #000000;
  color: #fff;
}

.brand-logo {
  text-align: center;
  margin-top: 95px;
}

.icons i {
  font-size: 22px;
  margin-right: 32px;
}

.company-policy {
  padding-top: 145px;
}